<!doctype html>
{% if access_granted == False %}
<!-- Access defined -->

<p><strong>Access Denied</strong></p>
<p>The access token is missing or invalid</p>

{% else %}

<head>
    <head>
        <meta charset="UTF-8">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"> -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
<title>Expert Profile Collection (Prototype)</title>
<style>
    /* Style to make the iframe take right half of the screen vertically */
    .half-screen-iframe {
      height: 100vh; /* Set the height to 100% of the viewport height */
      width: 50%; /* Set the width to 50% of the container */
      float: right; /* Float the iframe to the right side */
    }
    .half-screen-form {
      height: 100vh; /* Set the height to 100% of the viewport height */
      width: 50%; /* Set the width to 50% of the container */
      float: left; /* Float the iframe to the right side */
    }
    .full-screen-form {
      width: 100%; /* Set the width to 50% of the container */
    }
  </style>
</head>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

    <div class="container">
        <img src="static/logo_stairwai.png" width=300px/>
        <h3>Expert Profile Editing Prototype</h3>
        <div class="panel-group">
            <div>
                <div><p class="text-center"></p>Welcome, <strong>{{name}}</strong>!</p></div>
                <div>
                    <p>from this web page you can update your profile (or that of your company) in the StairwAI matchmaking services, to improve your visibility to companies involved in the cascade funding programs. Should you be selected by one such company, they will be able to pay for your services using funding provided by the StairwAI project, or using their own resources.</p>
                    <p>When editing your profile, <i>focus on the textual description</i>: upon saving, what you write is processed by an AI tool to assess its relevance w.r.t. a set of AI techniques. Here are some suggestions:</p>
                    <ul>
                        <li>Adjust your profile until the first 3-5 ranks include AI techniques that describe you well enough</li>
                        <li>If the AI technique ranking is poor, try being a bit more technical in the profile description</li>
                        <li>Don't forget that your description will be eventually read by a human</li>
                    </ul>
                </div>
        </div>
        
        
        <!-- Main form -->
        <form action="{{action}}" method="post" class="full-screen-form">
            <div class="form-group">
                <p><label for "description" class="form-label"><strong>Short Profile Description:</strong></label><br/>
            <textarea name="description" id="description" rows=10 cols=68 max_length={{max_length}} class="form-control"/>{% if description is none%}Enter description here{% else %}{{description}}{% endif %}</textarea></p>
            <p><label for="country" class="form-label"><strong>Country of operation:</strong></label>
            <select id="country" name="country" class="form-control">
                {% for cval in country_options %}
                <option {% if cval == country %}selected{% endif %}>{{cval}}</option>
                {% endfor %}
            </select></p>
            </div>
            <div class="form-group">
        
            <p><label for="languages" class="form-label"><strong>Languages (multiple values can be selected by pressing ctrl/cmd):</strong></label><br/>
            <select id="languages" name="languages" multiple="true" class="form-control">
                {% for lname in language_options %}
                <option value="{{lname}}" {% if languages is not none and lname in languages %}selected{% endif %}>{{lname}}</option>
                {% endfor %}
            </select></p>
            </div>
            <p><label for="team_size" class="form-label"><strong>Team size (number of individuals):</strong></label>
            <input type="number" id="team_size" name="team_size" min="1" step="1" {% if team_size is not none %}value={{team_size}}{% endif %} class="form-control"></p>
        
            <p><label for="price" class="form-label"><strong>Price (in € per hour):</strong></label>
            <input type="number" id="price" name="price" min="1" {% if price is not none %}value={{price}}{% endif %} class="form-control"></p>
        
            <input type="submit" id="submit" name="submit" value="save the profile" class="btn btn-primary"/>
        </form>

        {% if label_list is not none %}
        <!-- Label list -->
        <br>
        <h3>AI techniques, from the most to the least relevant:</h3>
        <p><i>This ranking is updated upon saving your profile: update it until your satisfied with the results.</i></p>

        <div class="accordion" id="rankedCategories">
          {% for lbl_name, lbl_score in label_list %}
          <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                {{loop.index}}. {{lbl_name}}
              </button>
            </h5>
            <div id="collapse{{loop.index}}" class="accordion-collapse collapse" data-bs-parent="#rankedCategories">
              <div class="accordion-body small">
                  <p>These sentences were consider the most related to the "{{lbl_name}}" category:</p>
                  <ul>
                  {% for xpl in explanation_list[loop.index0] %}
                  <li><em>{{xpl}}</em></li>
                  {% endfor %}
                  </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}

</body>
