<!doctype html>

<head>
    <meta charset="UTF-8">

    <!-- Updated bootstrap headers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Educational Resources Matchmaking (Prototype)</title>

    </head>
</head>
<body>


<div class="container">
    <div class="row">
    <div>
        <h1 class="fw-medium float-start">Educational Resource Matchmaking (Prototype)</h2>
        <img class="float-end" src="static/logo_stairwai.png" width=200px/>
    </div>
    </div>

    <!-- Start of the main form -->
    <form action="{{action}}" method="post" class="full-screen-form">
   
        <div class="row g-4">
            <div class="card">

                <h3 class="fw-light mt-3">Describe your use case here</h3>

                <!-- MAIN FIELDS -->
                <div class="row g-3">
                    <!-- Use Case Description -->
                    <div class="col-12">
                        <label for "description" class="fw-bold">Short Description of the Use Case</label>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Write a short description of your use cases here. Try to highlight: 1) the use case context; 2) your objectives; 3) resource availability; 4) constraints">
                            <small>info</small>
                        </button>
                        <textarea class="form-control" name="description" id="description" rows=5 cols=64 required max_length={{max_length}}/>{% if description is none%}Enter description here{% else %}{{description}}{% endif %}</textarea>
                    </div>

                    <!-- SUBMIT BUTTON -->
                    <div class="col-12">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="save and get educational resources"/>
                    </div>

                </div> <!-- end of the main fields row -->

            </div> <!-- end of data collection card -->
        </div>
    </form>
    <!-- end of the main form -->

    <h3 class="fw-light mt-4">Educational resources, sorted by relevance</h3>

    <div id="expertList" class="container">
        <div class="row row-cols-auto">
        {% for asset in asset_list %}
            <div class="col mt-2 mb-2">
                <div class="card" style="width: 24rem;">
                    <div class="card-header clearfix">
                        <span class="fw-bold float-start">
                            {{ asset.title }}
                        </span>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% if explanation_list is not none %}
                            <li class="list-group-item">
                                <small class="fw-bold">chosen for:
                                    {% for lname, lscore in explanation_list[loop.index0][:5] %}
                                        <span class="badge bg-secondary" style="--bs-bg-opacity: .7;">{{ lname }}</span>
                                    {% endfor %}
                                </small>
                            </li>
                        {% endif %}
                        <li class="list-group-item">
                            <small><span class="fw-bold">Description:</span></small>
                            <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#extendedDescription-{{loop.index}}" aria-expanded="false" aria-controls="feedbackInfo"><small>expand</small></button>
                            <div class="collapse" id="extendedDescription-{{loop.index}}"><small class="fw-light">{{ asset.description }}</small></div>
                        </li>
                    </ul>

                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</div>


<!-- Initialize popovers -->
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

</body>



