<!doctype html>
<!-- <title>Use Case Matchmaking (Prototype)</title>
<h3>Use Case Matchmaking (Prototype)</h3> -->

{% if access_granted == False %}
<!-- Access defined -->
<p><strong>Access Denied</strong></p>
<p>The access token is missing or invalid</p>

{% else %}
<!-- Main form -->
<head>
    <meta charset="UTF-8">

    <!-- Updated bootstrap headers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Use Case Matchmaking (Prototype)</title>

    </head>
</head>
<body>


<div class="container">
    <div class="row">
    <div>
        <h1 class="fw-medium float-start">Use Case Matchmaking (Prototype)</h2>
        <img class="float-end" src="static/logo_stairwai.png" width=200px/>
    </div>
    </div>

    <!-- Start of the main form -->
    <form action="{{action}}" method="post" class="full-screen-form">
   
        <div class="row g-4">
            <div class="card">

                <!-- <div class="row"> -->
                    <h3 class="fw-light mt-3">Data for the Use Case "{{name}}"</h3>
                    <p>
                    Here you can provide information about your use case so that the matchmaking system has enough information to idenfity relevant experts.
                    </p>
                <!-- </div> -->

                <!-- Use Case Name (currently hidden) -->
                <input type="hidden" id="name" name="name" value="{{name}}">

                <!-- MAIN FIELDS -->
                <div class="row g-3">
                    <!-- Use Case Description -->
                    <div class="col-12">
                        <label for "description" class="fw-bold">Short Description of the Use Case</label>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Write a short description of your use cases here. Try to highlight: 1) the use case context; 2) your objectives; 3) resource availability; 4) constraints">
                            <small>info</small>
                        </button>
                        <textarea class="form-control" name="description" id="description" rows=5 cols=64 required max_length={{max_length}}/>{% if description is none%}Enter description here{% else %}{{description}}{% endif %}</textarea>
                    </div>

                    <!-- Team Size -->
                    <div class="col-md-4">
                        <label for="team_size_min" class="fw-bold">Minimum team size</label>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Specify the smaller size of the time that you would prefer">
                            <small>info</small>
                        </button>
                        <input class="form-control" type="number" id="team_size_min" name="team_size_min" min="0" step="1" {% if team_size_min is not none %}value={{team_size_min}}{% endif %}>
                    </div>

                    <!-- Team Size Importance -->
                    <div class="col-md-8">
                        <label for="team_size_min_importance">Importance</label>
                        <select class="form-select w-25" aria-label="Team size importance" name="team_size_min_importance" id="team_size_min_importance">
                          <option value="high" {% if team_size_min_importance is not none and team_size_min_importance == "high" %}selected{% endif %}>high</option>
                          <option value="normal" {% if team_size_min_importance is not none and team_size_min_importance == "normal" %}selected{% endif %}>normal</option>
                          <option value="low" {% if team_size_min_importance is not none and team_size_min_importance == "low" %}selected{% endif %}>low</option>
                        </select>
                    </div>

                    <!-- Languages -->
                    <div class="col-md-4">
                        <label for="languages" class="fw-bold">Preferred languages</label>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Multiple languages can be selected by holding ctrl (cmd on OS X)">
                            <small>info</small>
                        </button>
                        <select class="form-select" id="languages" name="languages" multiple="true">
                        {% for lname in language_options %}
                        <option value="{{lname}}" {% if languages is not none and lname in languages %}selected{% endif %}>{{lname}}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <!-- Language Importance -->
                    <div class="col-md-8">
                        <label for="languages_importance">Importance</label>
                        <select class="form-select w-25" aria-label="Team size importance" name="languages_importance" id="languages_importance">
                          <option value="high" {% if languages_importance is not none and languages_importance == "high" %}selected{% endif %}>high</option>
                          <option value="normal" {% if languages_importance is not none and languages_importance == "normal" %}selected{% endif %}>normal</option>
                          <option value="low" {% if languages_importance is not none and languages_importance == "low" %}selected{% endif %}>low</option>
                        </select>
                    </div>

                    <!-- Feedback -->
                    <div class="col-12">
                        <label for "feedback" class="fw-bold">Feedback for the Developers</label>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Here you can (optionally) write some feedback about the system (e.g. overall satisfaction with the system, bugs, annoying parts of the UI, possible improvements)">
                            <small>info</small>
                        </button>
                        <textarea class="form-control" name="feedback" id="feedback" rows=3 cols=64 max_length={{max_length}}/>{% if feedback is none%}{% else %}{{feedback}}{% endif %}</textarea>
                    </div>


                    <!-- SUBMIT BUTTON -->
                    <div class="col-12">
                        <input type="submit" id="submit" name="submit" class="btn btn-primary" value="save and get experts"/>
                    </div>

                </div> <!-- end of the main fields row -->

            </div> <!-- end of data collection card -->
        </div>


        <h3 class="fw-light mt-4">Experts, sorted by relevance</h3>
        <div>
            <ul>
                <li>When you find an expert that you consider a good match, "pin" them by using the corresponding switch, then save</li>
                <li>The expert will then be displayed at the top of the list and you will be able to see their email</li>
                <li>If some information for an expert is missing or you want to know about additional details can find them in the full expert list, which is available to the open call beneficiaries through a <a href="https://docs.google.com/spreadsheets/d/1GNWSa2_jM36zDhHuJQ3S5Kw7vwSNpM7Y/edit?usp=sharing&ouid=111891008456759113422&rtpof=true&sd=true" target="_blank">Google Drive folder</a></li>
            </ul>
        </div>


        <div id="expertList" class="container">
            <div class="row row-cols-auto">
            {% for asset in asset_list %}
                <div class="col mt-2 mb-2">
                    <div class="card" style="width: 24rem;">
                        <div class="card-header clearfix">
                            <span class="fw-bold float-start">
                                {{ asset.name }}
                            </span>
                            <span class="float-end">
                                <input type="checkbox" name="selected_assets" class="btn-check" id="btn-check-{{loop.index}}" autocomplete="off" value="{{ asset.id }}" {% if asset.selected %} checked {% endif %}>
                                <label class="btn btn-outline-secondary btn-sm" for="btn-check-{{loop.index}}">pin</label>

                            </span>
                        </div>
                        <ul class="list-group list-group-flush">
                            {% if asset.selected %}
                                <li class="list-group-item">
                                    <small class="fw-bold">email:
                                        {{asset.email}}
                                    </small>
                                </li>
                            {% endif %}
                            {% if explanation_list is not none %}
                                <li class="list-group-item">
                                    <small class="fw-bold">chosen for:
                                        {% for lname, lscore in explanation_list[loop.index0][:5] %}
                                            <span class="badge bg-secondary" style="--bs-bg-opacity: .7;">{{ lname }}</span>
                                        {% endfor %}
                                    </small>
                                </li>
                            {% endif %}
                            {% if asset.languages %}
                                <li class="list-group-item">
                                    <small>
                                        <span class="fw-bold">speaks:</span> 
                                        {% for lval in asset.languages %}
                                        <span class="fw-light">
                                            {% if loop.index > 1 %} - {% endif %}
                                            {{lval}}
                                        </span>
                                        {% endfor %}
                                    </small>
                                </li>
                            {% endif %}
                            {% if asset.price %}
                                <li class="list-group-item">
                                    <small>
                                        <span class="fw-bold">price:</span> <span class="fw-light">{{asset.price}} €/hour</span>
                                    </small>
                                </li>
                            {% endif %}
                            {% if asset.team_size %}
                                <li class="list-group-item">
                                    <small>
                                        <span class="fw-bold">team size:</span> <span class="fw-light">{{asset.team_size}} individuals</span>
                                    </small>
                                </li>
                            {% endif %}
                                <li class="list-group-item">
                                    <small><span class="fw-bold">Description:</span></small>
                                    <button class="btn btn-outline-secondary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#extendedDescription-{{loop.index}}" aria-expanded="false" aria-controls="feedbackInfo"><small>expand</small></button>
                                    <div class="collapse" id="extendedDescription-{{loop.index}}"><small class="fw-light">{{ asset.description }}</small></div>
                                </li>
                        </ul>

                    </div>
                </div>
            {% endfor %}
            </div>
        </div>


    </form> <!-- This is the end of the main form -->
    </div>
</div>


<!-- Initialize popovers -->
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>

</body>
{% endif %}



